nav {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-bottom: 5px;
    gap: 5px;
    font-size: 25px;
    border-bottom: 2px solid lightgray;
    color: #fd8014;

    h1 {
        font-weight: 400;
    }
}