header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-top: 30px;

  .addLog {
    text-decoration: none;
    color: white;
    background: #fd8014;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: #a25410;
    }
  }

  .goBack {
    border: 1px solid #fd8014;
    padding: 10px 25px;
    text-decoration: none;
    color: #fd8014;
    background: white;
    border-radius: 4px;
    margin-left: 10px;

    &:hover {
      background-color: #a25410;
      color: white;
    }
  }
}

main {
  font-weight: 300;
  width: 85%;
  margin: auto;
  margin-top: 30px;

  .logs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;

    .log {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 500px;
      width: 31.7%;
      border: 1px solid grey;
      padding: 25px;
      border-radius: 4px;
      text-align: center;

      h2 {
        text-align: center;
      }

      .date {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

    .goBack {
      margin: 0;
    }
  }

  main {
    width: auto;

    .logs {
      width: auto;

      .log {
        width: 80%;
      }
    }
  }
}
